<div class="card">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h5 class="card-title">Proyectos</h5>
            <app-boton-sumar routerLink="/nuevaproy" *ngIf="isLogged"></app-boton-sumar>
        </div>
        <div class="proyectos" *ngFor="let Proyecto of proyecto">
            <div class="d-flex justify-content-between">
                <a [href]="Proyecto.url">
                    <h5>{{Proyecto.nombre}}</h5>
                </a>
                <div>
                    <app-editar routerLink="/editproy/{{Proyecto.id}}"></app-editar>
                    <app-boton-trash (click)="delete(Proyecto.id)"></app-boton-trash>
                </div>
            </div>
            <p class="card-text text-muted">
                {{Proyecto.descripcion}}
            </p>
        </div>
    </div>
</div>