<div class="card">
    <div class="card-body">
<div class="d-flex justify-content-between">
    <h5 class="card-title">Educación</h5>
    <app-boton-sumar routerLink="/nuevaedu" *ngIf="isLogged"></app-boton-sumar>
  </div>
  <div class="card mb-3 border-white experiencia">
    <div class="row g-0">
      <div class="col-md-1">
        <img src="../../../assets/Logo-universidad-nacional-del-nordeste.png" class="img-fluid rounded-start" alt="..." />
      </div>
      <div class="col-md-11">
        <div class="card-body" *ngFor="let Educacion of educacion">
          <div class="d-flex justify-content-between">
            <h5 class="card-title">{{Educacion.nombreE}}</h5>
            <div *ngIf="isLogged">
              <app-editar routerLink="/editedu/{{Educacion.id}}"></app-editar>
              <app-boton-trash (click)="delete(Educacion.id)"></app-boton-trash>
            </div>
          </div>
          <p class="card-text">{{Educacion.descripcionE}}</p>
          <p class="card-text">
            <small class="text-muted">2015-Actualidad</small>
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>