<div class="card">
    <div class="card-body">
      <img src="../../../assets/doge.jpg" class="profile" alt="..." />
      <h5 class="card-title">{{persona.nombre}} {{persona.apellido}}</h5>
      <p class="card-text">Fullstack<br />Corrientes(Argentina)</p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <h5 class="card-title">Acerca de</h5>
        <app-editar></app-editar>
      </div>
      <p class="card-text">
        Estudiante avanzado de licenciatura en sistemas con deseos de crecer
        profesionalmente, dispuesto a aprender cosas nuevas constantemente
      </p>
    </div>
  </div>